<div class="footer">
	<p> DMCA | Privacy Policy | Advertise with Us | Contact Us</p>

	<div class="ad-container">
		<div class="ad">First Ad Here</div>
		<div class="ad">Second Ad Here</div>
		<div class="ad">Third Ad Here</div>
	</div>

	<p>Zahistation does not host any videos on the website. All videos found on our site are found freely available around the web. We make no gaurantees or promises in our service and take no liability for our users actions. We are not affiliated nor claim to be affiliated with any of the owners of videos/streams played on our site. All content is copyright of their respective owners.</p>
</div>


